@import url("../fonts.css");

.main {
	position: relative;
	background: #F2DDAF;
	padding: 5rem 1.5rem 3rem;
	font-family: "AndesNeue Alt 2 Book";
	overflow: hidden;
}
.mainArticle {
	z-index: 10;
	position: relative;
	max-width: 65rem;
	margin: 0 auto;
}
.title {
	font-family: "Blairesque Gothic";
	color: #2074A4;
	text-align: center;
	font-size: 2.75rem;
	max-width: 65rem;
	margin: 0 auto;
}
.cateneans {
	color: #F08F68;
	position: relative;
}
.cateneans img {
	position: absolute;
	width: 100%;
	inset: 50% auto auto 50%;
	translate: -50% 100%;
}
.writerCredits {
  font-family: "Cedarville Cursive Regular";
	text-align: center;
	font-size: 1.25rem;
	margin-bottom: 1.5rem;
}

.main p {
	margin-bottom: 1rem;
}
.main h3 {
	font-size: 1.5rem;
}

.mapCorner {
	position: absolute;
	inset: 0 0 auto auto;
	width: 5.375rem;
	height: 5.375rem;
	border: none;
	cursor: pointer;
}
.mapCorner img {
	position: absolute;
	inset: -16px auto auto -18px;
	pointer-events: none;
}

.main h3 {
	font-family: "AndesNeue Alt 2 Bold";
	margin-bottom: 0.75rem;
}

.quote {
	font-family: "AndesNeue Alt 2 Bold";
	font-size: 1.5rem;
	background: #b9d9c5;
	border: 1rem solid #d3dbbc;
	border-radius: 2.5rem;
	padding: 1.5rem;
	margin-block: 1.5rem;
	position: relative;
}
.quote::before {
	content: "“";
	position: absolute;
	inset: 0 auto auto 0;
	translate: -50% -25%;
	font-size: 7rem;
	color: #FAA685;
}
.quote::after {
	content: "“";
	scale: -1 1;
	position: absolute;
	inset: auto 0 0 auto;
	translate: 50% 55%;
	font-size: 7rem;
	color: #FAA685;
}

.photoCards {
	height: 31rem;
	position: relative;
}
.photoCards img {
	width: 7.6rem;
	height: 8rem;
	object-fit: cover;
	padding: 0.3rem 0.3rem 1.5rem;
	background: white;
	position: absolute;
	inset: 50% auto auto 50%;
	transform: translate(-50%, -50%);
	filter: drop-shadow(1.451px 1.451px 1.741px rgba(0, 0, 0, 0.15));
}
.photoCards img:nth-of-type(1) {
	rotate: 5deg;
	translate: -65% -130%;
}
.photoCards img:nth-of-type(2) {
	rotate: -9.6deg;
	translate: 65% -50%;
}
.photoCards img:nth-of-type(3) {
	rotate: -9.6deg;
	translate: -0% 80%;
}

.helloCatWrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 19rem;
}
.helloCatWrapper .cloud:nth-of-type(1) {
	inset: 0 auto auto 0;
	translate: -50% 0%;
}
.helloCatWrapper .cloud:nth-of-type(2) {
	inset: 0 0 auto auto;
	translate: 70% 50%;
}

.main h3:nth-of-type(2) {
	margin-top: 10rem;
}
.heartCatWrapper {
	text-align: center;
	margin-block: 1rem;
	max-width: 90vw;
}
.heartCatWrapper img {
	max-width: 100%
}

.heartCatSmall3Wrapper {
	text-align: center;
}

.circleCatWrapper {
	text-align: center;
}
.circleCatWrapper img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}
.circleCatWrapper p {
	font-family: "Cedarville Cursive Regular";
	color: #2074A4;
	translate: 20% 0;
}

.magContainerWrapper {
	width: 100%;
	max-width: 40rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.magContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 120%;
}

.bigCloud {
	position: relative;
	text-align: center;
	height: 24rem;
}
.bigCloud img {
	position: absolute;
	inset: 50% auto auto 50%;
	translate: -50% -50%;
	height: 100%;
}
.bigCloud p {
	width: 100%;
	max-width: 45rem;
	position: absolute;
	inset: 50% auto auto 50%;
	translate: -50% -10%;
	font-size: 1.5rem;
	color: #2074A4;
	font-family: "AndesNeue Alt 2 Bold"
}

.grassCatContainer {
	height: 28rem;
	margin: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.grassCatContainer .grass {
	height: 100%
}
.paopao {
	position: absolute;
	inset: 0 0 auto auto;
	translate: 30% 10%;
	width: 15rem;
	aspect-ratio: 1;
}
.grassCatContainer button {
	border: none;
	font-family: "AndesNeue Alt 2 Bold";
	width: 19rem;
	padding-block: 0.75rem;
	font-size: 1.5rem;
	border-radius: 2.5rem;
}
.grassCatContainer button:nth-of-type(1) {
	background: white;
	color: #2074A4;
}
.grassCatContainer button:nth-of-type(2) {
	background: #2074A4;
	color: white;
	margin-top: 1rem;
}
.navigationButtons {
	position: absolute;
	inset: 50% auto auto 50%;
	translate: -50% -50%;
	cursor: pointer;
	text-align: center;
}
.navigationButtons a {
	text-decoration: none;
	color: #2074A4;
}

.credits {
	color: #2074A4;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-top: 1.5rem;
}
.credits h3, .credits p {
	margin: 0;
}
.credits h3 {
	font-family: "Blairesque Gothic";
	font-size: 1.5rem;
}

.cloud {
	position: absolute;
}
.brownEllipses {
	position: absolute;
	inset: 53% auto auto 50%;
	translate: -50% 0;
	z-index: 0;
	max-height: 100rem;
}


@media screen and (min-width: 920px){
	.helloCatWrapper {
		height: 10%;
	}
	
	.circleCatWrapper {
		height: 30vh;
		margin-block: 4rem;
	}
}
@media screen and (min-width: 1024px){
	.title {
		font-size: 5rem;
	}
	.writerCredits {
		font-size: 2rem;
	}
	.mainArticle {
		font-size: 1.5rem;
	}
	.main h3 {
		font-size: 2.5rem;
	}
	.quote {
		font-size: 2rem;
	}

	.photoCards img {
		width: 13rem;
		height: 13.7rem;
		padding: 0.5rem 0.5rem 2.6rem 0.5rem;
	}
	.photoCards img:nth-of-type(1) {
		translate: -50% -30%;
	}
	.photoCards img:nth-of-type(2) {
		translate: 140% -40%;
	}
	.photoCards img:nth-of-type(3) {
		translate: 300% -70%;
	}

	.magContainerWrapper {
		position: absolute;
		top: 65%;
		max-width: none;
	}
	.magContainer {
		width: 140%;
		height: 30rem;
	}
	.magContainer img {
		height: 11rem;
	}
	.magContainer img:nth-of-type(1) {
		align-self: end;
	}

	.heartCatSmall3Wrapper {
		position: absolute;
		right: 0;
		translate: 110% -50%;
	}

	.bigCloud p {
		font-size: 2rem;
	}
}
