.main {
  background: #F2DAAD;
}

.main h3 {
  font-size: 3.5rem;
  font-weight: 700;
  font-family: "Solway";
  text-align: center;
  color: #E07329; 
  -webkit-text-stroke: 12px #F9F4EB;
  paint-order: stroke fill; 
  filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.25));
  line-height: 110%; 
  letter-spacing: -2.4px;
  padding: 1em 0;
  
}

.main p {
  color: #522222;
  font-family: "AndesNeue Alt 2 Book";
  padding: 0 3em 2em 3em;
}

section {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

article {
  margin: 4em 0;
}

.hero {
  width: 100%;
  overflow: hidden;
  height: 25vh;
}

img {
  position: absolute;
  transform-origin: 50% 50%;  
}
.quoteSection {
  position: relative;
  height: auto;
}

.quoteSection > p {
  position: relative;
  z-index: 1;
}

.helloCats{
  height: 50vh;
  z-index: 6;
}

.helloCats h4{
  position: absolute;
  color: #2074A4;
  font-family: 'Outfit';
  font-size: 2em;
  right: 100px;
}

.helloCats img {
  bottom: 2%;
  left: 2%;
  width: 100%;
}

.quote  {
  font-family: 'Outfit';
  color: black;
}

.quoteSection {
  position: relative;
  margin: 3em;
}

.quoteBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(243, 231, 204, 0.4);
  border-radius: 50%;
  z-index: 1;
}