section {
  background-color: #A0D8CF;
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  overflow-y: clip;
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 5vw;
}

main {
  padding-top: 3vh;
  width: 50vw;
  min-height: 100vh;
}

main>* {
  width: 100%;
}

main>p.timer {
  text-align: center;
}

.gamearea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
  aspect-ratio: 744 / 652;
  text-align: center;
  position: relative;
  background: center / contain no-repeat url("src/assets/images/game/Map.svg");
}

.droppable {
  border: 0px solid red;
  width: 22%;
  aspect-ratio: 1 / 1;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background: center / 30% no-repeat url("src/assets/images/game/hole.svg");
}

.droppable+.dropped {
  background: none;
}

.heading {
  display: flex;
  align-items: center;
}

.heading h1 {
  font-family: "Cherry Swash", serif;
  color: #205950;
  font-size: 3vw;
  font-weight: 700;
  line-height: 3vw;
  padding-left: 0.5em;
}

.heading img {
  width: 10%;
}

.submit {
  display: inline-block;
  font-family: "AndesNeue Alt 2 Bold", sans-serif;
  text-align: center;
  color: #205950;
  background: #FFFCEE;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 1.5em;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: -1.6px;
}

.submit:hover {
  transform: translateY(-7px);
  box-shadow: 0px 7px #205950;
}

.submit:active {
  transform: translateY(0px);
  box-shadow: 0px 0px #205950;
}

aside {
  max-width: 12vh;
  display: flex;
  flex-flow: column nowrap;
}

aside.buttons {
  align-items: center;
  padding-top: 5vh;
}

p.timer {
  font-family: "Cherry Swash", serif;
  font-weight: bold;
  font-size: 3vw;
}

.buttons p.timer {
  padding-bottom: 5vh;
}

.buttons button {
  border: none;
  background: #3b756c;
  height: 5vw;
  width: 5vw;
  min-width: 40px;
  min-height: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px #24544d;
  transition: 250ms ease-in-out all;
  margin-bottom: 3vh;
}

.buttons button img {
  width: 50%;
  aspect-ratio: 1 / 1;
}

.buttons button:hover,
.buttons button:active {
  transform: translateY(-5px);
  box-shadow: 0px 7px #24544d;
}

.draggables {
  background-color: rgba(84, 147, 137, 0.58);
  min-width: 12vw;
  margin: 0 5vw 0 5vw;
  padding: 10% 2%;
  align-items: stretch;
  gap: 5%
}

.draggables>div {
  display: flex;
  justify-content: center;
}

.draggables img {
  max-width: 100%;
}

.droppable img:nth-child(1) {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  max-width: 100%;
  height: 100%;
  object-position: center;
}

.droppable img:nth-child(2) {
  grid-row: 2 / -1;
  grid-column: 2 / -1;
  max-width: 100%;
}

@media (max-width: 499px) {

  section {
    flex-direction: column;
    padding: 2vh 0;
    max-height: none;
  }

  aside {
    flex-direction: row;
    width: 100%;
    max-width: 100vw;
  }

  aside.draggables {
    width: 100%;
    margin: 0;
    height: 120px;
    padding: 4px 2vw;
    justify-content: space-evenly;
    align-items: center;
  }

  aside.draggables img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  aside.buttons {
    align-items: center;
    justify-content: center;
    gap: 5vw;
    padding: 0;
  }

  p.timer {
    font-size: 8vw;
  }

  main {
    width: 100%;
    padding: 0 5vw;
    height: min-content;
    min-height: min-content;
  }
}
