section {
  background-color: #A0D8CF;
  min-height: 100vh;
  display: flex;
  flex-flow: row no-wrap;
}

main {
  padding: 2% 5%;
}

.gamearea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0px 0px 0px;
  text-align: center;
  position: relative;
}

.droppable {
  border: 2px solid red;
  width: 120px;
  height: 120px;
  position: absolute;
}

.heading {
  display: flex;
  align-items: center;
}

.heading h1 {
  font-family: "Cherry Swash", serif;
  color: #205950;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 35px;
  padding-left: 0.5em;
}

.submit {
  display: inline-block;
  font-family: "AndesNeue Alt 2 Bold", sans-serif;
  text-align: center;
  color: #205950;
  background: #FFFCEE;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 1.5em;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: -1.6px;
}

.submit:hover {
  transform: translateY(-7px);
  box-shadow: 0px 7px #205950;
}

.submit:active {
  transform: translateY(0px);
  box-shadow: 0px 0px #205950;
}

aside {
  max-width: 50%;
  display: flex;
  flex-flow: column nowrap;
}

.draggables {
  background-color: rgba(84, 147, 137, 0.58);
  margin-left: 10%;
  min-width: 15vw;
  padding: 5% 2%;
  justify-content: space-evenly;
  align-items: stretch;
}

.draggables>div {
  display: flex;
  justify-content: center;
}
