.main {
  background: center / cover url("/assets/game_desktop_bg.svg") repeat;
  width: 100vw;
  height: 100vh;
  overflow: clip;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.ellipseOuter,
.ellipseInner {
  background-color: #f3e7cc;
  border-radius: 50%;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.ellipseOuter {
  opacity: 0.5;
  width: 105%;
  aspect-ratio: 1294/941;
}

.ellipseInner {
  opacity: 1;
  width: 101%;
  aspect-ratio: 1262/894;
}

h1,
p {
  color: #205950;
}

h1 {
  font-family: "Solway", serif;
  font-size: 6em;
  line-height: 1em;
  font-weight: bold;
}

p {
  font-family: "Rethink Sans", sans-serif;
  font-size: 2em;
}

.catButton {
  width: 22em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: none;
  border: none;
  margin-top: 3em;
}

.catButton p {
  background: #ffffec;
  border: 1px solid #ffffec;
  padding: 0.8em 1em;
  width: 100%;
  border-radius: 99999px;
  font-family: "AndesNeue Alt 2 Bold", serif;
  font-size: 2.5em;
}

.catButton > img {
  width: 40%;
  position: relative;
  top: 2px;
}

.introGraphic {
  height: 80vh;
  position: absolute;
  left: 7%;
  bottom: 8%;
  display: flex;
  align-items: flex-end;
}

.catHouse {
  height: 80%;
}

.catSit {
  height: 50%;
  position: relative;
  right: 20%;
}

.foodBowl {
  height: 12%;
  position: relative;
  right: 20%;
}

.pageButtons {
  width: 100%;
  padding: 0 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: absolute;
  bottom: 10%;
}

.pageButtons img {
  height: 8vh;
}

.lastEllipse {
  width: 50vw;
}

.cloud {
  position: absolute;
  animation: 3s ease-in-out 0s infinite alternate-reverse bob;
}

.gameArea {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 2% 5%;
  gap: 2vw;
}

.gameTable {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 3em repeat(5, 1fr);
  grid-template-rows: 15vh 4em repeat(5, 1fr);
  place-items: center;
}

.picFrame {
  height: 100%;
  aspect-ratio: 1 / 1;
  background-color: #d9d9d9;
  border-radius: 50%;
  border: 4px solid #ffffec;
  box-shadow: 0 8px 0.2px rgba(0, 0, 0, 0.25);
  z-index: 1;
  position: relative;
  top: 0.8em;
}

.nameHeader,
.catHeader {
  background: #8e7264;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.catHeader {
  border-top: 1px solid #a0d8cf;
  padding: 4% 0;
  font-size: 0.9em;
}

.gameTable h1 {
  font-size: 1.5em;
  color: white;
}

.catHeader h1 {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.catCell {
  background: #ffffec;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  border: 1px solid #b18e7d;
}

.catCell * {
  grid-area: 1 / 1;
}

.catCell img {
  height: 70%;
}

.catCellHover {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background: rgba(58, 156, 140, 0.8);
  opacity: 0;
  transition: opacity ease-in-out 150ms;
}

.catCellHover:hover {
  opacity: 1;
  cursor: pointer;
}

.catCellHover p {
  text-align: center;
  color: white;
  font-family: "AndesNeue Alt 2 Bold", serif;
  font-size: 2em;
}

.menuSide {
  height: 100%;
  width: 42vw;
  display: flex;
  flex-flow: column nowrap;
  gap: 2em;
}

.gameOpts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.timer {
  font-family: "Cherry Swash", sans-serif;
  font-weight: bold;
  font-size: 3.5em;
}

.menuSide > * {
  width: 100%;
}

.checklist {
  height: 84%;
  background: #ffffec;
  border: 20px solid #b18e7d;
}

.instructionBtn,
.exitBtn {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: none;
  display: grid;
  place-items: center;
}

.instructionBtn {
  height: 5em;
  background: #3b756c;
}

.instructionBtn > img {
  height: 60%;
  position: relative;
  left: 3%;
}

.exitBtn {
  background: #ffffec;
  height: 1.7em;
  font-family: "Solway";
  font-weight: bold;
  font-size: 2.5em;
  color: #205950;
}

.instructionBtn,
.exitBtn {
  position: relative;
  top: 0.2em;
}

.timer {
  position: relative;
  top: 0.2vh;
}

.fullScreenLayer {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.optionsLayer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: 22vh;
  background: rgba(165, 255, 241, 0.25);
}

.optionsModal {
  width: 70vw;
  height: 35vh;
  background: #866f65;
  border: 8px solid #4e3e47;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
  z-index: 20;
}

.optionsModal button {
  aspect-ratio: 1 / 1;
  height: 60%;
  background: #ffffec;
  border: 6px solid #755445;
  box-shadow: 0px 4px 0px #65544c;
  font-size: 1.6em;
  font-family: "Cherry Swash";
  font-weight: bold;
  color: #593d2f;
  transition:
    border-color 100ms ease-in-out,
    background-color 100ms ease-in-out;
}

.optionsModal button:hover {
  border-color: #389c8c;
  background: #ecf7e6;
}

.optionsLabel {
  width: 30vw;
  min-height: 12vh;
  background: #4e3e47;
  position: relative;
  top: 4vh;
  box-shadow: 0 4px 0.8px rgba(0, 0, 0, 0.25);
  display: grid;
  place-items: center;
  z-index: 25;
}

.optionsLabel p {
  font-family: "Cherry Swash", serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #ffffec;
}

@keyframes bob {
  0% {
    transform: translateY(-0.5rem);
  }

  100% {
    transform: translateY(0);
  }
}
