/* src/components/HeartImages.css */

.heart-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.heart-image {
  position: absolute;
  width: 13vw; /* change depending on need */
  height: 8vw; /* change depending on need */
  border: 12px solid #fff;
}

.heart-image:nth-child(1) {
  top: 5vh;
  left: 0vw;
}
.heart-image:nth-child(2) {
  top: 0vh;
  left: 15vw;
}
.heart-image:nth-child(3) {
  top: 0vh;
  left: 30vw;
}
.heart-image:nth-child(4) {
  top: 8vh;
  left: 45vw;
}
.heart-image:nth-child(5) {
  top: 0vh;
  left: 60vw;
}
.heart-image:nth-child(6) {
  top: 0vh;
  left: 75vw;
}
.heart-image:nth-child(7) {
  top: 5vh;
  left: 90vw;
}
.heart-image:nth-child(8) {
  top: 25vh;
  left: 90vw;
}
.heart-image:nth-child(9) {
  top: 45vh;
  left: 85vw;
}
.heart-image:nth-child(10) {
  top: 65vh;
  left: 75vw;
}
.heart-image:nth-child(11) {
  top: 75vh;
  left: 60vw;
}
.heart-image:nth-child(12) {
  top: 85vh;
  left: 45vw;
}
.heart-image:nth-child(13) {
  top: 75vh;
  left: 30vw;
}
.heart-image:nth-child(14) {
  top: 65vh;
  left: 15vw;
}
.heart-image:nth-child(15) {
  top: 45vh;
  left: 5vw;
}
.heart-image:nth-child(16) {
  top: 25vh;
  left: 0vw;
}
