@import url("../fonts.css");

.main {
    position: relative;
    background: #F2DDAF;
    padding: 5rem 2rem 0rem;
    overflow: hidden;
}

.mainArticle {
    z-index: 10;
    position: relative;
    max-width: 65rem;
    margin: 0 auto;
}

.main h3 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Cherry Swash";
    text-align: center;
    margin-bottom: 0.75rem;
    color: #E07329;
    -webkit-text-stroke: 12px white;
    paint-order: stroke fill;
    filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.25));
}

.main p {
    margin-bottom: 1.5rem;
    font-family: "Outfit";
    color: #522222;
}

.building {
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    margin-bottom: 1rem;
}

.imgStyle {
    width: 80%;
    display: block;
    margin: 3rem auto;
    opacity: 0;
}

.animateTilt {
    animation: tilt-animation 1s steps(1, end) infinite, fadeIn 0.6s ease-out forwards;
}

@keyframes tilt-animation {
    0%, 100% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
}

.twoCats {
    width: 99%;
    display: block;
    margin: 4rem auto;
    outline: 7px solid white;
    opacity: 0;
}

.animateCats {
    animation: fadeInAndTilt 1.2s ease-out forwards;
}

@keyframes fadeInAndTilt {
  0% {
    opacity: 0;
    transform: translateY(50px) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(-3deg);
  }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.quoteContainer {
    margin-bottom: 1.5rem;
}

.quote {
    font-family: "Outfit";
    font-size: 1rem;
    background: #b9d9c5;
    border: 1rem solid #d3dbbc;
    border-radius: 2.5rem;
    padding: 1.5rem;
    position: relative;
    opacity: 0;
}

.quote span {
    opacity: 0;
}

.animateQuote .quote {
    animation: fadeIn 0.5s ease-out forwards;
}

.animateQuote .quote span {
    animation: fadeIn 0.5s ease-out forwards;
    animation-delay: 0.6s;
}