@import url("../fonts.css");
@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Solway:wght@300;400;500;700;800&display=swap");

.scrollContainer {
  display: flex;
  height: 100vh;
}

.page {
  width: 1920px;
  height: 100%;
  flex-shrink: 0;
  padding-top: 20vh;
  box-sizing: border-box;
  position: relative;
}

.mainArticle {
  width: 80vw;
}

.titlepage {
  width: 42rem;
  margin: 6vh auto;
  gap: 8%;
  z-index: 10;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.titlepage>img {
  width: 100%;
}

.magArticle,
.mainArticle {
  height: 80vh;
  max-height: 70%;
  width: 1000px;
  box-sizing: border-box;
  padding: 5rem 1rem 0;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 0;
  margin-bottom: 0;
}

.mainArticle p {
  width: 650px;
  padding: auto;
}

.mainArticle>p,
.magArticle>p {
  padding: 0;
}

.magArticle {
  display: flex;
  gap: 36px;
  align-items: flex-start;
}

.mag1,
.mag2 {
  width: 150px;
}

.mag1 {
  animation: 350ms linear infinite alternate-reverse magRotateLeft;
}

.mag2 {
  animation: 350ms linear infinite alternate-reverse magRotateRight;
}

.mag1,
.mag2 {
  position: relative;
  bottom: 32px;
  margin-right: 20px;
}

.mag2 {
  align-self: flex-end;
  margin-bottom: 18vh;
}

.mainArticle h3,
.titlepage h3 {
  font-size: 96px;
  font-weight: 700;
  font-family: "Solway", serif;
  text-align: center;
  color: #e07329;
  -webkit-text-stroke: 18px white;
  paint-order: stroke fill;
  filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.25));
}


.mvp {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: -6rem auto;
}

.quoteContainer {
  margin-bottom: 1.5rem;
}

.quote {
  font-family: "Outfit";
  font-size: 1rem;
  background: #b9d9c5;
  border: 1rem solid #d3dbbc;
  border-radius: 2.5rem;
  padding: 1.5rem;
  position: relative;
}


.bushes {
  position: absolute;
  bottom: 0px;
  left: 100px;
  width: 90%;
  height: auto;
}

.grass {
  position: absolute;
  bottom: 100px;
  left: -80px;
  height: auto;
}

@keyframes magRotateLeft {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(0);
  }

  51% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes magRotateRight {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(0);
  }

  51% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(45deg);
  }
}
