aside.instruction {
  border-radius: 32px;
  box-shadow: 0px 15px 0px #3B756C;
  padding: 3% 4%;
  max-width: 40vw;
  background-color: #ffffec;
}

.instruction h1,
.instruction p {
  font-family: "Outfit", sans-serif;
  padding: 0;
  color: #2C7267;
}

.instruction header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3%;
}

.instruction button {
  border: none;
  background: none;
}

.instruction ul {
  padding-left: 6%;
}

.instruction li p {
  padding-bottom: 2%;
}
