.main {
  background-color: #f2daad;
  min-height: 100dvh;
  min-width: 100dvw;
  font-family: "Outfit";
  color: #683535;
}

.section {
  position: relative;
  min-height: 100dvh;
  min-width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.section2 {
  padding-top: 25rem;
  padding-bottom: 30rem;
}

.text {
  position: relative;
  z-index: 10;
  max-width: 15rem;
}

.cloud {
  position: absolute;
  inset: 50% auto auto 50%;
  z-index: 10;
}

.cloud1 {
  width: 15rem;
  translate: calc(-50% - 9rem) calc(-50% - 15rem);
}

.cloud2 {
  width: 8rem;
  translate: calc(-50% + 11rem) calc(-50% - 8rem);
}

.ellipses {
  position: absolute;
  inset: 50% auto auto 50%;
  translate: -50% -50%;
  z-index: -1;
}

.catPhotos {
  max-width: 20rem;
  position: absolute;
  inset: 0 auto auto 50%;
  translate: -50% 0;
  z-index: 10;
}

.hearts {
  max-width: 20rem;
  position: absolute;
  inset: 3rem auto auto 50%;
  translate: -50% 0;
  z-index: 10;
}

.catPhoto {
  max-width: 20rem;
  position: absolute;
  inset: auto auto 5rem 50%;
  translate: calc(-50% + 5rem) 0;
}

.line {
  position: absolute;
  inset: 0 auto auto 0;
}
