.main {
  background-color: #f2daad;
  min-height: 100dvh;
  min-width: 100dvw;
  width: fit-content;
  font-family: "Outfit";
  color: #683535;
  display: flex;
  overflow-y: hidden;
}

.section {
  position: relative;
  height: 100dvh;
  min-width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2 {
  padding-left: 70rem;
  padding-right: 60rem;
}

.text {
  position: relative;
  z-index: 10;
}

.text1 {
  max-width: 40rem;
  font-size: 2rem;
}

.text2 {
  width: 40rem;
  font-size: 2rem;
}

.ellipses {
  position: absolute;
  inset: 50% auto auto 50%;
  translate: -50% -50%;
  z-index: -1;
}

.catPhotos {
  position: absolute;
  inset: 0 auto auto -10rem;
  z-index: 10;
}

.hearts {
  position: absolute;
  inset: 10rem auto auto -10rem;
  z-index: 10;
}

.catPhoto {
  position: absolute;
  inset: 8rem 0 auto auto;
}

.line {
  position: absolute;
  inset: -7rem auto auto 0;
  z-index: 11;
}

.line2 {
  position: absolute;
  inset: -7rem -20rem auto auto;
  z-index: 11;
}
