.main {
  font-family: "Outfit";
  color: #683535;
  display: flex;
}

.main p {
  margin: 15%;
}

.main .grasslayer {
  width: 100%;
  height: 100vh;
  background-image: url("src/assets/images/background-grass.svg");
  background-repeat: repeat-x;
  background-position-y: bottom;
  background-size: 3000px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 12;
}

.section {
  position: relative;
  height: 100dvh;
  min-width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2 {
  padding-left: 70rem;
  padding-right: 60rem;
}

.text {
  position: relative;
  bottom: 10vh;
}

.text1 {
  min-width: 40rem;
  max-width: 40rem;
  font-size: 1rem;
}

.text2 {
  min-width: 40rem;
  max-width: 40rem;
  font-size: 1.75rem;
}

.cloud {
  position: absolute;
  inset: 50% auto auto 50%;
  z-index: 10;
  animation: 4.5s ease-in-out 0s infinite alternate-reverse bob;
}

.cloud1 {
  width: 20rem;
  inset: 50% auto auto -5%;
  translate: 0 calc(-50% - 17rem);
}

.cloud2 {
  width: 17rem;
  translate: calc(-50% - 23rem) calc(-50% - 25rem);
  animation-delay: -2s;
}

.cloud3 {
  width: 16rem;
  translate: calc(-50% + 25rem) calc(-50% - 20rem);
  animation-delay: -1s;
}

.ellipses {
  position: absolute;
  inset: 50% auto auto 50%;
  translate: -50% -50%;
  z-index: -1;
}

.polaroid {
  animation: 3s ease-in-out 0s infinite alternate-reverse swing;
  transform-origin: top center;
  width: 40rem;
  position: absolute;
  z-index: 18;
}

@keyframes swing {
  0% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes bob {
  0% {
    opacity: 0.6;
    transform: translateY(-1vh) scaleX(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleX(0.95);
  }
}

.catPhotos1 {
  inset: -7rem auto auto 10rem;
}

.catPhotos2 {
  inset: 15rem auto auto 30rem;
}

.hearts {
  position: absolute;
  width: 40rem;
  inset: 10rem auto auto 15rem;
  z-index: 10;
}

.catPhoto {
  width: 30rem;
  position: absolute;
  inset: 2rem 10rem auto auto;
}

.line {
  position: absolute;
  inset: -7rem auto auto 0;
  z-index: 11;
}

.line2 {
  position: absolute;
  inset: -7rem -20rem auto auto;
  z-index: 11;
}

.RBR {
  position: absolute;
  left: -800px;
  bottom: -5%;
  z-index: 10;
}

.graphics {
  z-index: 10;
}

.scrollIndicator {
  position: absolute;
  left: 42vw;
  bottom: 5vh;
  z-index: 10;
  display: flex;
  gap: 4px;
  color: white;
  width: 30vw;
  align-items: center;
  opacity: 0;
  animation: 3s ease-in-out 0s fadeInOut;
}

.scrollIndicator p {
  color: white;
  font-size: 1.3rem;
  font-family: "Outfit";
  font-weight: medium;
  margin: 0;
}

.photos {
  position: absolute;
  left: 1300px;
  top: 12vh;
}

@keyframes fadeInOut {
  from {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
