* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: red;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background: green;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content__photo-set, .content__writing {
  height: 100%;
}

.content__photo-set {
  background: yellow;
}

.content__writing {
  background: blue;
}