.polaroid {
  background: white;
  padding: 5%;
  padding-bottom: 20%;
  position: relative;
  box-shadow: 2.5px 2.5px 3px 0px rgba(0, 0, 0, 0.15);
  z-index: 20;
}

.polaroid>img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

section.buttons {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 0 10%;
  align-items: stretch;
}

section.buttons>* {
  margin-bottom: 20px;
  border: none;
}

.button {
  padding: 8%;
  border-radius: 80px;
  background: #ffffec;
  text-align: center;
  color: #a56953;
  font-family: "Cherry Swash", serif;
  font-size: 1.2em;
  font-weight: 800;
}

.back {
  width: 100%;
  background: none;
}

.bylines {
  width: 100%;
  color: #2074a4;
}

.bylines h1 {
  font-weight: 800;
  font-family: "Cherry Swash", serif;
}

.bylines p {
  font-weight: 400;
  font-family: "Outfit", sans-serif;
}
