.main {
  background-color: #f2daad;
  height: 100dvh;
  width: 100dvw;
}

.bg {
  position: absolute;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bg div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fg {
  position: absolute;
  inset: 50% 0 0 50%;
  translate: -50% -50%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.title {
  width: 20rem;
  height: min-content;
}

.title img {
  width: 100%;
}

.fg button {
  background: none;
  border: none;
  width: 5rem;
}

.fg button img {
  width: 100%;
}
