*{
    background-color: #90DBC3;
}
.backgroundWrapper{
    background-color: #90DBC3;
}
.upperLogosWrapper{
    display: block;
    margin-left: 2em;
}
.Credits_Logo{
    transition: filter 0.3s ease;
    margin: 1em;
    background-color: transparent;
}
.Credits_Logo:hover{
    filter: brightness(70%);
}
.Mail_Logo{
    margin: 1em;
    left: 40%;
    background-color: transparent;
}
.Mail_Logo:hover{
    display: none;
}
.Mail_Logo_Hover{
    margin: 1em;
    left: 40%;
    background-color: transparent;
}
.headerWrapper{
    position: absolute;
}
.headerWrapper .Header{
    margin-left: 2em;
    margin-top: 1rem;
}
.Button_Arete{
    position: absolute;
    bottom: -2em;
    left: 5em;
    background-color: transparent;
}
.Cats_Arete{
    position: absolute;
    bottom: -2.5em;
    left: 12.5em;
    background-color: transparent;
}
@media screen and (min-width: 720px) {
    .mapWrapper{
        background-image: url('../Map/Map_Images/Map_background.svg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    .Map_Campus{
        visibility: hidden;
    }
}