*{
    background-color: #90DBC3;
}
.backgroundWrapper{
    background-color: #90DBC3;
}
.upperLogosWrapper{
    display: block;
    margin-left: 2em;
}
.Credits_Logo{
    transition: filter 0.3s ease-in-out;
    margin: 1em;
    background-color: transparent;
}
.Credits_Logo:hover{
    filter: brightness(70%);
}
.Mail_Logo{
    margin: 1em;
    left: 40%;
    background-color: transparent;
}
.Mail_Logo_Hover{
    position: absolute;
    margin: 1em;
    left: 2.5em;
    background-color: transparent;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}
.Mail_Logo_Hover:hover{
    opacity: 1;
}
.headerWrapper{
    position: absolute;
}
.headerWrapper .Header_Mobile{
    margin-left: 2em;
    margin-top: 1rem;
}
.headerWrapper .Header_Desktop{
    position: absolute;
    top: -6em;
    left: 2em;
    background-color: transparent;
}
.Button_Arete{
    position: absolute;
    height: 3em;
    bottom: -3em;
    left: 5em;
    background-color: transparent;
}
.Button_Arete_Hover{
    position: absolute;
    height: 3.2em;
    bottom: -3.2em;
    left: 5em;
    background-color: transparent;
    opacity: 0;
}
.Button_Arete_Hover:hover{
    opacity: 1;
}
.Cats_Arete{
    position: absolute;
    bottom: -5.5em;
    left: 12.8em;
    background-color: transparent;
}
.Button_MVP{
    position: absolute;
    height: 3em;
    top: 20em;
    left: 37em;
    background-color: transparent;
}
.Button_MVP_Hover{
    position: absolute;
    height: 3.2em;
    top: 20em;
    left: 37em;
    background-color: transparent;
    opacity: 0;
}
.Button_MVP_Hover:hover{
    opacity: 1;
}
.Cats_MVP{
    position: absolute;
    height: 10em;
    top: 15em;
    left: 44em;
    background-color: transparent;
}
.Button_Faura{
    position: absolute;
    height: 3em;
    top: 32em;
    left: 45.5em;
    background-color: transparent;
}
.Button_Faura_Hover{
    position: absolute;
    height: 3.2em;
    top: 32em;
    left: 45.5em;
    background-color: transparent;
    opacity: 0;
}
.Button_Faura_Hover:hover{
    opacity: 1;
}
.Cats_Faura{
    position: absolute;
    height: 10em;
    top: 26.5em;
    left: 33em;
    background-color: transparent;
}
.Button_Schmitt{
    position: absolute;
    height: 3em;
    top: 12.5em;
    left: 59em;
    background-color: transparent;
}
.Button_Schmitt_Hover{
    position: absolute;
    height: 3.3em;
    top: 12.5em;
    left: 59em;
    background-color: transparent;
    opacity: 0;
}
.Button_Schmitt_Hover:hover{
    opacity: 1;
}
.Cats_Schmitt{
    position: absolute;
    height: 10em;
    top: 14em;
    left: 57.5em;
    background-color: transparent;
}
.Button_CTC{
    position: absolute;
    height: 3em;
    top: 42.5em;
    left: 63.5em;
    background-color: transparent;
}
.Button_CTC_Hover{
    position: absolute;
    height: 3.3em;
    top: 42.5em;
    left: 63.5em;
    background-color: transparent;
    opacity: 0;
}
.Button_CTC_Hover:hover{
    opacity: 1;
}
.Cats_CTC{
    position: absolute;
    height: 10em;
    top: 38em;
    left: 54em;
    background-color: transparent;
}
.Decor_BlueCat{
    position: absolute;
    top: 42em;
    left: 40em;
    background-color: transparent;
}
.Decor_BlueButterfly{
    position: absolute;
    top: 5em;
    left: 34em;
    background-color: transparent;
}
.Decor_Tree1{
    position: absolute;
    top: 1em;
    left: 43em;
    background-color: transparent;
}
.Decor_Tree2{
    position: absolute;
    top: 3em;
    left: 54em;
    background-color: transparent;
}
.Decor_DoublePaw{
    position: absolute;
    top: 0em;
    left: 52em;
    background-color: transparent;
}
@media screen and (max-width: 1260px) {
    .Header_Desktop{
        display: none;
    }
}
@media screen and (min-width: 1260px) {
    .Map_Campus{
        width: 100%;
        height: auto;
    }
    .Header_Desktop{
        visibility: visible;
    }
    .Header_Mobile{
        display: none;
    }
    .upperLogosWrapper{
        float: right;
        margin-right: 2em;
    }
    .Mail_Logo_Hover{
        left: 76.10%;
    }
}
@media screen and (min-width: 1307px){
    .Mail_Logo_Hover{
        left: 77.10%;
    }
}
@media screen and (min-width: 1379px){
    .Mail_Logo_Hover{
        left: 78.30%;
    }
}
@media screen and (min-width: 1500px) {
    .Mail_Logo_Hover{
        left: 76.05em;
    }
    .Button_Arete{
        height: 4em;
        left: 6em;
        bottom: -10em;
    }
    .Button_Arete_Hover{
        height: 4.5em;
        left: 6em;
        bottom: -10.25em;
    }
    .Cats_Arete{
        left: 16em;
        bottom: -14em;
    }
    .Decor_BlueCat{
        top: 50.5em;
        left: 50em;
    }
}