@import url("../fonts.css");
@import url("https://fonts.cdnfonts.com/css/chi-font");

.title {
  background-color: #cdedff;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.middle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.title-text {
  color: #f08f68;
  text-align: center;
  font-family: "Blairesque Gothic"; /* change to chi font*/
  font-size: 112px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -2.128px;
  margin: 0;
}

.subtitle-text {
  color: #2074a4;
  text-align: center;
  font-family: "Blairesque Gothic";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -1.52px;
  margin: 0;
}

.start-btn {
  display: inline-flex;
  padding: 12px 80px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: #f2ddaf;
  color: #a56953;
  text-align: center;
  font-family: "AndesNeue Alt 2";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
